#logo{
    display: grid;
    grid-template-columns: auto 100vw auto;
    grid-template-areas: ". logo .";
    height: 100vh;
    width: 100%;

   .bird{
     visibility: none;
     //display: none;
 } 


    @include md{
        grid-template-columns: auto 80vw auto;
    }
    @include lg{
        grid-template-columns: auto 70vw auto;
    }
    @include xl{
        grid-template-columns: auto 65vw auto;
    }

    >div{
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}